<h1 style="color:white;">
	Anonymous Chat
	<%= User.first %>
	<br>
	<%=current_user.id %>

</h1>

<script type="text/javascript" src="https://www.moxtra.com/api/js/moxtra-latest.js" id="moxtrajs" data-client-id="lw-IelUJnu0">
</script>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>


<!-- Required JavaScript libraries to create the signature for unique ID based authentication -->
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha256.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/components/enc-base64-min.js"></script>
<script type="text/javascript">// <![CDATA[
    var client_id = "uYlLSt33DgE";
    var client_secret = "kmSxGdpxhkU";
    var timestamp = new Date().getTime();
    var uniqueid = '<%=current_user.id %>';
    // var uniqueid = '4';

    var hash = CryptoJS.HmacSHA256(client_id + uniqueid + timestamp, client_secret);
    var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
    var signature = hashInBase64.replace(/\+/g, '-').replace(/\//g, '_').replace(/\=+$/, '');
// ]]></script>

<script type="text/javascript">
            function get_token() {
                var init_options = {
                    uniqueid: uniqueid,
                    firstname: "Anonymous",
                    lastname: "",
                    timestamp: timestamp,
                    signature: signature,
                    get_accesstoken: function(result) {
                        console.log("access_token: " + result.access_token + " expires in: " + result.expires_in);
                        // Use the access token to make Moxtra SDK and API calls
                        startChat(result.access_token);
                    },
                    error: function(result) {
                        console.log("error code: " + result.error_code + " message: " + result.error_message);
                    }
                };
                Moxtra.setup(init_options);
            }
        </script>

<script type="text/javascript">
function startChat(access_token)
{
	alert(access_token);

	var options = {
	    // unique_id: '<%=User.first.id %>',
	    unique_id: "2",
	    iframe: true,
	    tagid4iframe: "container",
	    iframewidth: "820px",
	    iframeheight: "450px",
	    autostart_meet: true,
	    autostart_note: false,
	    access_token: access_token,
	    start_chat: function(event) {
	        // alert("Chat started session Id: " + event.session_id);
	        // alert(binder_id);
	        alert("Test message");
	    },
	    invite_meet: function(event) {
	        alert("Meet invite");
	    },
	    start_meet: function(event) {
	        alert("Meet started session key: " + event.session_key + " session id: " + event.session_id);
	    },
	    end_meet: function(event) {
	        alert("Meet end event");
	    },
	    invite_member: function(event) {
	        alert("Invite member into binder Id: " + event.binder_id);
	    },
	    request_note: function(event) {
	        alert("Note start request");
	    },
	    error: function(event) {
	        alert("Chat error code: " + event.error_code + " error message: " + event.error_message);
	    }
	};
	Moxtra.chat(options);
}
</script>


<h3><a id="getToken" href="javascript:get_token();">Create User and Get Access Token</a></h3>